---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <button id="trpc">TRPC</button>
    <script>
      import { client } from "../util/trpc/index";

      document.getElementById("trpc")?.addEventListener("click", async () => {
        const data = await client.getHello
          .query()
          .then(({ message }) => message) // deconstruct the response object and give me the message property - replaces .then((response) => response.message)
          .catch((error) => console.error(error));

        alert(`TRPC Response: ${data}`);
      });
    </script>
  </body>
</html>
